
      <!-- Jumbotron -->
      <div class="jumbotron">
        <div class="container">
        <h1>Boost Your Career!</h1>
        <p class="lead">Prolificvue provides career enhancement resources for professionals of all levels and numerous industries. From latest and bestselling books to networking and valuable conferences, Prolificvue contains curated resources to move your professional life forward.</p>
        <p><a class="btn btn-lg btn-success" href=<%= about_path %> role="button">Learn more</a></p>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Trainings</h2>
          <p class="text-danger">Access tutorials releveant to your career level and professional field</p>
          <p>Prolificvue lists top paid and free training seminars, tutorials, courses, and online videos for specific industries and career levels. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Conferences</h2>
          <p>From major annual national meetings to local industry events in your area, you can find a conference that suits you. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Books and Articles</h2>
          <p>Prolificvue has a curated listing of books and reading materials that are tailored to your career level and industry. From bestsellers to fresh-off-the press, you'll find something to propel and equip you.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>