<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professional_level.name %>
</p>

<%= link_to 'Edit', edit_professional_level_path(@professional_level) %> |
<%= link_to 'Back', professional_levels_path %>
